🗑️ Gomi Docs
# Package {{.Package}}
```
import "{{.Import}}"
```

# Overview
{{.Overview}}

{{if .Constants}}
	# Constants
	{{.Constants}}
{{end}}

{{if .Variables}}
	# Variables
	{{.Variables}}
{{end}}
